<fieldset>
  <legend><%= l(:label_facebook) %></legend>
  <p>
    <%= label_tag('settings[facebook_admins]', l(:label_facebook_admins)) %>
    <%= text_field_tag('settings[facebook_admins]', @settings[:facebook_admins], :size => 50) %>
    <em class="info"><%= l(:text_facebook_admins) %></em>
  </p>
  <p>
    <%= label_tag('settings[facebook_app]', l(:label_facebook_app)) %>
    <%= text_field_tag('settings[facebook_app]', @settings[:facebook_app], :size => 50) %>
    <em class="info"><%= l(:text_facebook_app) %></em>
  </p>
</fieldset>

<fieldset>
  <legend><%= l(:label_open_graph) %></legend>
  <p>
    <% unless defined? observe_field %>
      <% open_graph_onclick = 'if (this.checked) { $("#open_graph").show(); } else { $("#open_graph").hide(); }' %>
    <% else %>
      <% open_graph_onclick = 'if (this.checked) { Element.show("open_graph"); } else { Element.hide("open_graph"); }' %>
    <% end %>
    <%= label_tag('settings[open_graph]', l(:label_enable_open_graph)) %>
    <%= check_box_tag('settings[open_graph]', 1, @settings[:open_graph], :onclick => open_graph_onclick) %>
  </p>
  <div id="open_graph"<%= ' style="display: none;"' unless @settings[:open_graph] %>>
    <p>
      <%= label_tag('settings[open_graph_site]', l(:label_open_graph_site)) %>
      <%= text_field_tag('settings[open_graph_site]', @settings[:open_graph_site], :size => 30) %>
      <em class="info"><%= l(:text_open_graph_site) %></em>
    </p>
  </div>
</fieldset>

<fieldset>
  <legend><%= l(:label_twitter_cards) %></legend>
  <p>
    <% unless defined? observe_field %>
      <% twitter_cards_onclick = 'if (this.checked) { $("#twitter_cards").show(); } else { $("#twitter_cards").hide(); }' %>
    <% else %>
      <% twitter_cards_onclick = 'if (this.checked) { Element.show("twitter_cards") } else { Element.hide("twitter_cards") }' %>
    <% end %>
    <%= label_tag('settings[twitter_cards]', l(:label_enable_twitter_cards)) %>
    <%= check_box_tag('settings[twitter_cards]', 1, @settings[:twitter_cards], :onclick => twitter_cards_onclick) %>
  </p>
  <div id="twitter_cards"<%= ' style="display: none;"' unless @settings[:twitter_cards] %>>
    <p>
      <%= label_tag('settings[twitter_site]', l(:label_twitter_site)) %>
      <%= text_field_tag('settings[twitter_site]', @settings[:twitter_site], :size => 30) %>
      <em class="info"><%= l(:text_twitter_site) %></em>
    </p>
    <% user_custom_fields = UserCustomField.all.order('position') %>
    <% if user_custom_fields.any? %>
      <p>
        <%= label_tag('settings[twitter_user_custom_field]', l(:label_twitter_user_custom_field)) %>
        <%= select_tag('settings[twitter_user_custom_field]', content_tag(:option) + options_from_collection_for_select(user_custom_fields, :id, :name, @settings[:twitter_user_custom_field].to_i)) %>
        <em class="info"><%= l(:text_twitter_user_custom_field) %></em>
      </p>
    <% end %>
    <% project_custom_fields = ProjectCustomField.all.order('position') %>
    <% if project_custom_fields.any? %>
      <p>
        <%= label_tag('settings[twitter_project_custom_field]', l(:label_twitter_project_custom_field)) %>
        <%= select_tag('settings[twitter_project_custom_field]', content_tag(:option) + options_from_collection_for_select(project_custom_fields, :id, :name, @settings[:twitter_project_custom_field].to_i)) %>
        <em class="info"><%= l(:text_twitter_project_custom_field) %></em>
      </p>
    <% end %>
  </div>
</fieldset>

<% if (Redmine::VERSION::MAJOR < 2 && Redmine::VERSION::MINOR < 4) || defined? ChiliProject %>
  <% content_for(:header_tags) do %>
    <%= stylesheet_link_tag('settings', :plugin => 'meta') %>
  <% end %>
<% end %>
