var errors = '<%= @errors %>';
var modified_body = false;

$('.edit-form-overlay').remove();
if (parseInt(errors) == 0)
{
    modified_body = true;
    $.modal.close();
    $('.edit-form-overlay').remove();
    $('#simplemodal-container').remove();
    $('#simplemodal-overlay').remove();
    $('.edit-form-overlay').remove();

}


if (modified_body == false)
{
    $.modal.close();
    $('.edit-form-overlay').remove();
    $('#simplemodal-container').remove();
    $('#simplemodal-overlay').remove();
    $('.edit-form-overlay').remove();
    $('html').attr('style', 'overflow:hidden; height:100%;');
    $('body').append(" <%= j(javascript_include_tag('jstoolbar/jstoolbar-textile.min') +
              javascript_include_tag("jstoolbar/lang/jstoolbar-#{current_language.to_s.downcase}") +
              stylesheet_link_tag('jstoolbar'))%>");
    $('body').append("<div class= 'edit-form-overlay' style='display:none'></div>");
    $('.edit-form-overlay').html("<%= j (render template: 'issues/show') %>");
    $('body').append("<%= j (yield :header_tags) %>");
    $('.edit-form-overlay').modal({containerCss:{
                height:630
            },
                onClose: function (dialog) {
                    $('html').attr('style', '');
                    $.modal.close();
                }
            }
    );
}

if (parseInt(errors) > 0)
{
    showAndScrollTo("update", "issue_notes");
}




$('.simplemodal-data').find('input[type=submit]').click(function(){
    var project_id = "<%= @project.identifier%>";
    $('form').submit(function() {
        var valuesToSubmit = $(this).serialize();
        $.ajax({
            type: "PUT",
            url: '/update_issue_from_overlay', //sumbits it to the given url of the form
            data: valuesToSubmit + '&project_id=' + project_id + "&id=" + '<%= @issue.id %>',
            dataType: "script" // you want a difference between normal and ajax-calls, and json is standard
        }).success(function(json){
        });
        return false; // prevents normal behaviour
    });
});