$.modal.close();
$('.edit-form-overlay').remove();
$('#simplemodal-container').remove();
$('#simplemodal-overlay').remove();
if (window.location.pathname.indexOf('issues') > -1)
{
    if ('<%= Redmine::Plugin.all.map(&:id).include?(:redmine_edit_issues_inline) %>' == 'true')
    {
        $('tr#issue-<%=@issue.id %>').html('<td class=checkbox hide-when-print><%= check_box_tag("ids[]", @issue.id, false, :id => nil) %></td>' +
        '<%=j render(partial: "issues/best_in_place_input", collection:@query.inline_columns, as: :column).html_safe%>')
        jQuery(".best_in_place").best_in_place();
    }
    else
    {
        $('tr#issue-<%=@issue.id %>').html('<td class=checkbox hide-when-print><%= check_box_tag("ids[]", @issue.id, false, :id => nil) %></td>' +
        '<%= raw @query.inline_columns.map {|column| "<td class=\"#{column.css_classes}\">#{column_content(column, @issue)}</td>"}.join %>');
    }

}




